<plugin>
	<nom> <!-- Nom du plugin -->
	Player Flash FLV
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	Sebastien Celles
	</auteur>
	<version>
	0.1
	</version>
	<etat>
	dev
	</etat>
	<description>
	Des videos .flv dans Spip !
	</description>
	<lien>http://www.celles.net</lien> <!-- URI de documentation -->
	<fonctions> <!-- fichier charge a chaque recalul de page -->
	dew_tube.php
	</fonctions>
	<!-- classe d'implementation : espace de nommage qui prefixera les appels de fonction
	sur le mode Rien::
	ainsi les fonctions hors espace de nommage ne peuvent etre appelees
	ce parametre est obligatoire et doit etre non vide
	-->
	<prefix> 
	dewtube
	</prefix>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines 
	La liste des pipelines disponibles est dans ecrire/inc_version ($spip_pipeline = ... ) 
	-->
	<pipeline>
		<nom>post_propre</nom>
		<action>post_propre</action>
		<inclure>dew_tube.php</inclure>
	</pipeline>
		<!-- Le parametre action est facultatif : en son absence la fonction portant le nom du pipeline est appelee. Le parametre inclure est facultatif.	-->
</plugin>